<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mentalist</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<!--
    <header>
      <nav>
        <ul>
          <li>Menu item</li>
          <li>Menu item</li>
          <li>Menu item</li>
        </ul>
      </nav>
    </header>
 -->
    <main class="d-flex flex-nowrap">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 100%">
            <h1>F1 News</h1>
            <div class="list-group list-group-flush border-bottom scrollarea">
                {% for topic in topics %}
                <article class="list-group-item list-group-item-action py-3 lh-sm">
                    <div class="row mb-1">
                        <div class="col-11">
                            <strong class="mb-1">{{ topic.title }}</strong>&nbsp;<span class="badge" style="background-color: #{{ 'F4511E' if topic.ai_rating == 1 else 'FFC107' if topic.ai_rating == 2 else '64DD17' if topic.ai_rating == 3 else '2962FF' if topic.ai_rating == 4 else '616161' }};">{{ topic.ai_rating }}</span>
                        </div>
                        <div class="col-1">
                            <a class="link-body-emphasis link-underline-opacity-0" data-bs-toggle="collapse" data-bs-target="#topic-links-{{ topic.id }}" aria-expanded="false" aria-controls="topic-links-{{ topic.id }}">
                                <i class="bi bi-newspaper"></i>
                            </a>
                            &nbsp;
                            <a class="link-body-emphasis link-underline-opacity-0" href="{{ url_for('topic_save', topic_id=topic.id) }}">
                                <i class="bi {{ 'bi-bookmark-plus-fill' if topic.saved else 'bi-bookmark-plus' }}"></i>
                            </a>
                            &nbsp;
                            <a class="link-body-emphasis link-underline-opacity-0" href="{{ url_for('topic_read', topic_id=topic.id) }}">
                                <i class="bi bi-check-lg"></i>
                            </a>
                        </div>
                    </div>
                    <a class="link-body-emphasis link-underline-opacity-0" data-bs-toggle="collapse" data-bs-target="#topic-links-{{ topic.id }}" aria-expanded="false" aria-controls="topic-links-{{ topic.id }}">
                        <div class="col-11 mb-1 small text-body-secondary">
                            {{ topic.summary }}
                        </div>
                        <div class="col-11 mb-1 small text-body-secondary">
                            <strong>Analysis</strong>
                            {{ topic.ai_analysis }}
                        </div>
                    </a>
                    <div class="ps-3 pt-3 col-11 small collapse" id="topic-links-{{ topic.id }}">
                        {% for post in topic.posts %}
                        <a href="{{ post.link }}" target="_blank" class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                        <div class="pt-2 pb-2 small border-top">
                            <div>
                                <img src="{{ post.rss_feed.web_link }}/favicon.ico" height="12px" />&nbsp;
                                <strong><span class="text-body-secondary">{{ post.rss_feed.title }} |</span></strong>
                                <strong>{{ post.title }}</strong>
                            </div>
                            <div class="w-100 ps-3 pt-1 text-body-secondary">
                                {{ post.summary }}
                            </div>
                        </div>
                                </a>
                        {% endfor %}
                    </div>
                    <!--
                    <div class="col-10 mb-1 small">
                    </div>
                    -->
                </article>
                {% endfor %}
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</body>
</html>
